body{
    background-color: sandybrown;
}
#border{
    /* width: 500px;
    height: 500px; */
    /* text-align: center; */
    border: 2px solid black;
    
}
input{
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}
#myform{
    margin-left: 475px;
    margin-top:  20px; 
    /* border: 2px solid black; */
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
    /* margin-right: 150px; */
    margin-top: 20px;
}